@(prices: Seq[String], network: Seq[String])

@main("teste") {

<div class="root">
    <div class="root2">

        <table>
            <td>
                @for(x <- prices(0).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>

            <br>

            <td>
                @for(x <- prices(1).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>

            <br>

            <td>
                @for(x <- prices(2).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>

            <br>

            <td>
                @for(x <- prices(3).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>
        </table>

        <table>
            <td>
                @for(x <- network(0).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>

            <td>
                @for(x <- network(1).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>
            <td>
                @for(x <- network(2).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>
            <td>
                @for(x <- network(3).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>
            <td>
                @for(x <- network(4).split(",")) {
                <ol>
                    @x
                </ol>
                }
            </td>




        </table>
    </div>
</div>


}